@using static CascadingParametersApp.Models


@code {
    private ThemeSettings theme = new ThemeSettings
    {
        PrimaryColor = "#3498db",
        IsDarkMode = false
    };

    private UserInfo user = new UserInfo
    {
        Username = "Kenneth",
        Role = "Editor"
    };

    // This method will update the theme when called
    private void UpdateTheme(bool isDarkmode)
    {
        theme.IsDarkMode = isDarkmode;
        theme.PrimaryColor = isDarkmode ? "#333" : "#3498db";
    }

}

<div style="padding: 1em; background-color: @theme.PrimaryColor; color: white;">
    <h3>Parent Component</h3>
    <p>Welcome, @user.Username!</p>

    <CascadingValue Value="@theme">
        <CascadingValue Value="@user">
            <ChildComponent OnThemeToggle="UpdateTheme"/>
        </CascadingValue>
    </CascadingValue>
</div>